body{
    background-color: rgb(248, 245, 242);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 50px;
    /* to set the color of that particular element */
    background-color: #006ba6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

h1{
    /* color of the font */
    color: #ffbc42;
    text-align: center;
    font-size: 27px;
    margin: 15px;
}

h1, h2{
    font-family: Verdana, Tahoma, sans-serif;
}

nav{
    width: 50%;
    max-width: 300px;
    height: 50px;
}

nav > ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-inline-start: 0%;
    margin-block: 0;
    height: 100%;
    align-items: center;
}

nav > ul > li{
    color: aliceblue;
    margin: 0 0.2rem;
    /* to remove the dots*/
    display: block;
}

nav > ul > li:hover{
    /* when you hover around the texts, this is the colour that will show */
    background-color: brown;
    color: aquamarine;
    cursor: pointer;
}

li > a{
    color: inherit;
    /* to remove the line underneath the link */
    text-decoration: none;
}

main{
    padding-top: 50px;
}

section{
    width: 60%;
    /* this shorthand property means TOP|RIGHT|BOTTOM|LEFT */
    margin: 0px auto 10px auto;
}

h2{
    color: #006ba6;
    /* to set a line beneath something */
    border-bottom: 4px solid #d0d0d5;
    margin-top: 0;
    padding-top: 60px;
}

.info{
    /* the order is TOP\RIGHT\BOTTOM\LEFT */
    padding: 10px 0 0 10px;
}

legend{
    margin-top: 10px;
}

input{
    /* this increases the size of the box */
    font-size: 16px;
}

.info label, .info input{
    display: inline-block;
}

.info input{
    width: 50%;
    text-align: left;
}

.info label{
    width: 20%;
    min-width: 50px;
    text-align: right;
}

.questions{
    /* background-color: aqua; */
    text-align: left;
    display: block;
    width: 100%;
    margin-top: 20px;
    padding-top: 5px;
}

ul{
    list-style: none;
    padding: 0;
}

button{
    display: block;
    margin: 40px auto;
    width: 40%;
    padding: 15px;
    /* to increase the size of the font */
    font-size: 23px;
    background: #d0d0d5;
    border: 3px solid #0496ff;
}

button a{
    text-decoration: none;
}

footer{
    background: #8f2d56;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
}

footer, footer a{
    color: #d0d0d5;
}

/*styling for the submitted*/
.response{
    /* to round the edges */
    /* and it is TOP-RIGHT, TOP-LEFT, BOTTOM-LEFT, & BOTTOM-RIGHT */
    border-radius: 10px;
    background: #d0d0d5;
    font-size: 25px;
    width: 60%;
    /*TOP & BOTTOM  RIGHT & LEFT*/
    margin: 10px auto;
    text-align: center;
    padding-bottom: 20px;
}

.link > a{
    color: #fafafa;
}

a:hover{
    color: #0496ff;
}